@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
// font-family: 'Share Tech Mono', monospace;

// Reset
@import "reset";

//COMMON
body {
  background-color: #000;
  font: 17px/1.4 "Share Tech Mono";
  color: #ddd;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  perspective: 1300px;

  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
  }

  #circle {
    width: 600px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -400px;
    animation: panorama linear 30s infinite;
    transform-style: preserve-3d;

    &:hover {
      animation-play-state: paused;
    }

    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      backface-visibility: hidden;

      h1 {
        position: absolute;
        text-shadow: 0px 0px 10px rgb(7, 67, 197);
        top: 0px;
        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        h1 {
          top: -60px;
          transform: scale(1.5);
          opacity: 1;
        }
      }

      .inner {
        width: 100%;
        height: 100%;

        > div {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.5);
          padding: 50px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          opacity: 0.7;
          transition: 0.5s;

          &:hover {
            opacity: 1;
            transform: scale(1.03);
          }
        }
      }

      &.item1 {
        transform: rotateY(0deg) translateZ(-764px);

        .inner {
          div {
            width: 290px;
            height: 254px;
            float: left;
            margin-bottom: 20px;
            text-align: center;

            i {
              color: lightcyan;
              font-size: 100px;
              opacity: 0.7;
              transition: 0.5s;
            }

            h2 {
              margin-top: 20px;
              transition: 0.5s;
            }

            &:hover {
              i {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
                transform: scale(1.2);
                opacity: 1;
              }

              h2 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
                transform: scale(1.2);
                opacity: 1;
              }
            }

            &:nth-of-type(odd) {
              margin-right: 20px;
            }
          }
        }
      }

      &.item2 {
        transform: rotateY(45deg) translateZ(-764px);
        .inner {
          div {
            h2 {
              font: bold 24px/1;
              color: lightcyan;
              transition: 0.5s;
            }

            img {
              width: 100%;
              margin: 20px 0px 40px 0px;
            }

            h3 {
              color: lightcyan;
              margin-bottom: 10px;
            }

            p {
              font: 18px/1.3;
            }

            &:hover {
              h2,
              h3 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }
            }
          }
        }
      }

      &.item3 {
        transform: rotateY(90deg) translateZ(-764px);
        .inner {
          > div {
            width: 100%;
            height: 253px;
            margin-bottom: 20px;

            .pic {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              border: 1px solid #fff;
              overflow: hidden;
              float: left;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .info {
              width: 340px;
              float: right;

              h2 {
                font: bold 22px/1;
                color: #fff;
                margin-bottom: 16px;
              }

              p {
                font: 18px/1.3;
                color: #ddd;
                margin-bottom: 20px;
              }

              span {
                font: 16px/1;
                color: lightcyan;
              }
            }
          }
        }
      }

      &.item4 {
        transform: rotateY(135deg) translateZ(-764px);

        .inner {
          div > div {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0.9;
            }

            h2 {
              position: absolute;
              top: 120px;
              left: 50px;
              font-size: 50px;
              color: #fff;
              text-align: left;
              text-shadow: 2px 2px 5px #555;
            }

            p {
              position: absolute;
              left: 50px;
              top: 300px;
              font-size: 40px;
              color: #fff;
              text-align: left;
              text-shadow: 2px 2px 5px #555;
            }

            i {
              position: absolute;
              right: 50px;
              bottom: 50px;
              font-size: 50px;
              transition: 0.5s;
            }

            &:hover {
              h2 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }

              i {
                font-size: 70px;
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }
            }
          }
        }
      }

      &.item5 {
        transform: rotateY(180deg) translateZ(-764px);
        .inner {
          div {
            width: 290px;
            height: 254px;
            float: left;
            margin-bottom: 20px;
            text-align: center;

            i {
              color: lightcyan;
              font-size: 100px;
              opacity: 0.7;
              transition: 0.5s;
            }

            h2 {
              margin-top: 20px;
              transition: 0.5s;
            }

            &:hover {
              i {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
                transform: scale(1.2);
                opacity: 1;
              }

              h2 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
                transform: scale(1.2);
                opacity: 1;
              }
            }

            &:nth-of-type(odd) {
              margin-right: 20px;
            }
          }
        }
      }

      &.item6 {
        transform: rotateY(225deg) translateZ(-764px);
        .inner {
          div {
            h2 {
              font: bold 24px/1;
              color: lightcyan;
              transition: 0.5s;
            }

            img {
              width: 100%;
              margin: 20px 0px 40px 0px;
            }

            h3 {
              color: lightcyan;
              margin-bottom: 10px;
            }

            p {
              font: 18px/1.3;
            }

            &:hover {
              h2,
              h3 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }
            }
          }
        }
      }

      &.item7 {
        transform: rotateY(270deg) translateZ(-764px);
        .inner {
          > div {
            width: 100%;
            height: 253px;
            margin-bottom: 20px;

            .pic {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              border: 1px solid #fff;
              overflow: hidden;
              float: left;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .info {
              width: 340px;
              float: right;

              h2 {
                font: bold 22px/1;
                color: #fff;
                margin-bottom: 16px;
              }

              p {
                font: 18px/1.3;
                color: #ddd;
                margin-bottom: 20px;
              }

              span {
                font: 16px/1;
                color: lightcyan;
              }
            }
          }
        }
      }

      &.item8 {
        transform: rotateY(315deg) translateZ(-764px);

        .inner {
          div > div {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0.9;
            }

            h2 {
              position: absolute;
              top: 120px;
              left: 50px;
              font-size: 50px;
              color: #fff;
              text-align: left;
              text-shadow: 2px 2px 5px #555;
            }

            p {
              position: absolute;
              left: 50px;
              top: 300px;
              font-size: 40px;
              color: #fff;
              text-align: left;
              text-shadow: 2px 2px 5px #555;
            }

            i {
              position: absolute;
              right: 50px;
              bottom: 50px;
              font-size: 50px;
              transition: 0.5s;
            }

            &:hover {
              h2 {
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }

              i {
                font-size: 70px;
                text-shadow: 0px 0px 10px rgb(7, 67, 197);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes panorama {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
